body{
    background: #e9e9e9;
}

.navbar {
  /* position: fixed; */
   /* top: 0;*/
  width: 100%; 
  background: #ffffff;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 20px 50px;
  z-index: 1000;
  /* transition: background 0.3s ease; */
}
.navbar-container{
    display: flex;
    gap: 45px;
    padding-bottom: 10px;
}
.text{
    display: flex;
    height: 33.61px;
    font-size: 12px;
    padding-top: 10px;
}
.logo {
  display: flex;
  width: 220px;
  height: 53.99px; 
  margin-left: 300px;
}

.input-group{
    width: 600px;
    height: 35.99px;
    gap: 0;
}
.input-group input{
    text-align: center;
    width: 470px;
    height: 35.99px;;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.input-group button{
    height: 35.99px;
    width: 50px;
    background: #2c283b;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.input-group button i{
    color: #ffffff;
    font-size: 18px;
}
.navigation-tcmb{
    background: #b22222;
    display: flex;
    text-align: center;
    width: 1249px;
    height: 40px;
    margin-left: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav-space{
    display: flex;
    gap: 20px;
}
.nav-link-tcmb{
    text-align: center;
    display: flex;
    height: 33.61px;
    font-size: 12px;
    padding-top: 10px;
}
.nav-link-tcmb h2{
    color: #ffffff;
    font-size: 14px;
    padding-left: 45px;
}

/* Mobil görünüm */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

 .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    display: none;
    border-bottom-left-radius: 14px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
} 

.banner-section{
    background: #ffffff;
    display: flex;
    width: 1249px;
    height: 550px;
    margin-left: 350px;
    margin-bottom: 10px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

}
.new-section{
    height: 367,53px;
    margin-top: 10px;
    border-radius: 14px;
    margin-bottom: 50px;
}
.tab-menu_w-tab-menu{
    padding-left: 25px;
    background: #ffffff;
    color: #2c283b;
    display: flex;
    gap: 40px;
    width: 693.95px;
    height: 48px;
    margin-left: 375px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tab-text{
    text-align: center;
    display: flex;
    height: 33.61px;
    font-size: 12px;
    padding-top: 10px;
}

.w-tab-content{
    background: #ffffff;
    display: flex;
    width: 1249px;
    height: 249.22px;
    margin-left: 350px;
    border-radius: 14px;
}

.data-easing{
    margin-top: 50px;
}
.graphics-section{
    display: flex;

}
.graphics-container_w-clearfix{
    background: #ffffff;
    display: flex;
    width: 1249px;
    height: 362.23px;
    border-radius: 14px;
    margin-left: 350px;
    margin-bottom: 50px;
}

.sublink-section{
    display: flex;
}
.sublink-container{
    background: #ffffff;
    display: flex;
    width: 1249px;
    height: 362.23px;
    border-radius: 14px;
    margin-left: 350px;
    margin-bottom: 50px;
}
.sublink-container .card{
    margin-left: 25px;
    margin-top: 25px;
    width: 393.67px;
    height: 313.27;
}
.sublink-container .card img{
    width: 353.67px;
    height: 150.89px;
    margin-top: 10px;
    border-radius: 16px;
}

.footer-header-tcmb{
    display: flex;
    margin-left:750px;
}

.footer-tcmb-sub{
    display: flex;
    margin-left:610px;
    margin-bottom: 10px;
}
.footer-gray{
    display: flex;
    background: #2c283b;
    height: 70px;
    
}
.footer-gray-wrap_w-clearfix{
    width: 1249px;
    display: flex;
    margin-top:25px;
    margin-left:350px;
    gap: 20px;
}
.footer-gray-wrap_w-clearfix .link h4{
    color: #ffffff;
    font-size: 12px;
}
.links-section_w-clearfix{
    display: flex;
}
.articel_1{
    background: #2c283b;
    width: 360px;
    height: 380px;
    margin-left: 395px;
    border-radius: 16px;
    margin-bottom: 50px;
    color: #ffffff;
}
.articel_1:hover{
    background: rgba(161, 101, 21, 0.603);

}
.articel_1 img{
    width: 360px;
    height: 216px;
    /* border-radius: 16px; */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.articel_1 h2{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
.articel_1 p{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.articel_1 i{
    color: #ffffff;
    font-size: 26px;
    margin-top: 10px;
    margin-left: 320px;
}
.articel_2{
    background: #ffffff;
    width: 780px;
    height: 380px;
    margin-left: 20px;
    border-radius: 16px;
    margin-bottom: 50px;
    display: flex;
}
.articel_2 .card img{
    margin-left: 30px;
    margin-top: 70px;
    width: 220px;
    height: 125px;
}
.articel_2 p{
    margin-left: 30px;
    margin-top: 10px;
}
.articel_2 p strong{
    color: #b22222;
}
.articel_2 button{
    margin-left: 100px;
    width: 150px;
    background: #ffffff;
    color: #b22222;
    border-radius: 12px;

}
.articel_2 button:hover{
    margin-left: 100px;
    width: 150px;
    background: #b22222;
    color: #ffffff;
    border-radius: 12px;

}
.sub-top {
    display: block;
    padding-right: 0;
    padding-left: 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.sub-breadcrumb {
    display: block;
    max-width: 1600px;
    padding: 5px 14px;
}
.sub-breadcrumb-box {
    display: flex;
    margin-right: 10px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.sub-breadcrumb-home {
    width: 26px;
    height: 26px;
    margin-right: 4px;
    background-size: 14px;
}
.sub-breadcrumb-link {
    padding-right: 10px;
    padding-left: 16px;
    background-position: 0 50%;
    background-size: 8px;
    background-repeat: no-repeat;
    color: #d50032;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 300;
    text-decoration: none;
}
a {
    background-color: transparent;
}
strong{
    color: #e9e9e9;
    /* gap: 10px; */
    font-size: 18px;
}

.sub-home-content2 {
    margin-left: 375px;
    min-height: 100px;
    float: left;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.block-header2 {
    min-height: 74px;
    margin-bottom: 24px;
    padding: 8px 24px;
    border-radius: 10px;
    background-color: #333945;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: 300;
}
.block-share {
    overflow: hidden;
    height: 26px;
    margin-bottom: 24px;
    border: 1px solid #cfd7e5;
    border-radius: 10px;
    color: #323a47;
    font-size: 1em;
    line-height: 1em;
}
.block-share, .type-prg {
    font-family: 'Open Sans', sans-serif;
}
.block-share-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 26px;
    padding-right: 24px;
    padding-bottom: 2px;
    padding-left: 24px;
    float: right;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#contentContainer {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 5px 0 0;
    padding: 5px;
	font: 11px/18px Georgia, "Times New Roman", Times, serif;
	color: #747474;
}

#kurlarContainer h1 {
    margin-top: 0px;
margin-bottom: 8px;
padding-left: 12px;
border-bottom: 1px solid #323a47;
font-family: Oswald, sans-serif;
color: #323a47;
font-size: 1.6em;
line-height: 1.6em;
font-weight: 400;
}
.kurlarTablo {
    overflow: hidden;
margin-bottom: 24px;
border-radius: 10px;
width: 100%;
border-collapse: separate;
border: 1px solid #cfd7e5;
}

.kurlarTablo th {
min-height: 40px;
margin-right: -1px;
padding: 8px 11px 8px 10px;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
border-right: 1px solid #cfd7e5;
font-family: Oswald, sans-serif;
color: #323a47;
font-size: 1.1em;
line-height: 1.3em;
font-weight: 400;
border-collapse: collapse;
background-color: #e6ecf5;
text-align: left;
}

tr:nth-child(even) {
	background: none repeat scroll 0 0 #FBFBFB;
}
tr:nth-child(odd) {
	background: none repeat scroll 0 0 #F1F1F1;	
}

.kurlarTablo tr th:last-child{
  border-right: none;
}
.kurlarTablo tr:first-child th:first-child{
  border-top-left-radius: 10px;
}
.kurlarTablo tr:first-child th:last-child{
  border-top-right-radius: 10px;
}
.kurlarTablo tr:last-child td:first-child{
  border-bottom-left-radius: 10px;
}
.kurlarTablo tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}

.kurlarTablo td.para {
    color: #8A8A8A;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 5px 10px;
    width: 21%;
}

.kurlarTablo td.deger {
    color: #8A8A8A;
    font-size: 10px;
    letter-spacing: 0.1em;
    padding: 5px 20px 5px 5px;
    font-weight: bold;
    text-align: right;
    width: 13%;	
}

.kurlarTablo td.efdeger {
    width: 16%;	
}


.kurlarTablo td.kurkodu {
    width: 15%;
}

.kurlarTablo td.birim {
    width: 6%;
}

.kurlarTablo td.capraz {
	text-align: left;
	width: 45%;
}

.tcmbfont {
	font-family: Tahoma,Geneva,sans-serif;
	color: #222222;
	font-size: 12px;
}

caption, th { text-align: left;}	

span.kurgorsel {
    display: inline-block;
    height: 100%;
    width: 16px;
    padding-right: 3px;
    margin: auto;
    background-repeat: no-repeat;
}

.detailContentContainer {
    padding: 15px 5px 0px 5px;
}

@media only screen and (max-device-width: 960px) {
    /*fixes too big font in mobile Safari*/
    html {
        -webkit-text-size-adjust:none;
    }
 }

tr {
	height: 30px;
}

.kurlarTablo td{
     position: relative;
margin-right: -1px;
padding: 8px 11px 8px 10px;
border-right: 1px solid #cfd7e5;
border-bottom: 1px solid #cfd7e5;
font-family: 'Open Sans', sans-serif;
color: #323a47;
font-size: 1.1em;
line-height: 1.2em;
font-weight: 400;
border-collapse: collapse;
}

.kurlarTablo tr:last-child td{
  border-bottom: none;
}

.kurlarTablo tr td:last-child{
border-right: none;}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
}  
.kurlarTablo tr .table-main-header{
  padding: 12px;
background-color: #008aab;
font-family: Oswald, sans-serif;
color: #fff;
font-size: 1.2em;
line-height: 1.5em;
font-weight: 400;
text-align: center;
}

